@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif !important;
}
header {
  background-color: #0c231e;
}
header .container {
  display: grid;
  max-width: 1200px;
  margin: auto;
  width: 90%;
  padding: 15px;
  grid-template-columns: 1fr auto;
  height: 65px;
}

.logo {
  height: 30px;
}

.right {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
}
.right svg {
  height: 30px;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section .img {
  background-image: url("../img/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
}
section .img img {
  width: 300px;
}
section form {
  height: calc(100vh - 65px);
  padding: 10px;
  padding-top: 50px;
  overflow: auto;
  padding-bottom: 50px;
}

.container-form {
  margin: auto;
  width: 95%;
}
.pt-2 .js-collapse {
  display: none;
}

section form img {
  width: 150px;
}

.title {
  margin-top: 30px;
  font-size: 18px;
  color: #404041;
  font-weight: 600;
  margin-bottom: 15px;
}

.tipo-de-cita {
  margin-top: 30px;
}
.hr {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: rgba(103, 102, 102, 0.192);
}
select,
input {
  width: 100%;
  height: 55px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 10px;
  color: rgb(65, 65, 65);
}

.title-1 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #404041;
}

.persona input {
  margin-top: 15px;
}

button {
  width: 100%;
  height: 55px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 2px #0c231e;
  color: #0c231e;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 900px) {
  section {
    grid-template-columns: 1fr;
  }
  section .img {
    display: none;
  }
}

.curpPersona {
  text-transform: uppercase;
}

.container-loader {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0c231e;
  z-index: 999;
}

.loader {
  --loader-size: 50px;
  --loader-border-size: 4px;
  --loader-border-color: white;
  width: var(--loader-size);
  height: var(--loader-size);
  border: var(--loader-border-size) solid var(--loader-border-color);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: rotateX 1s infinite linear;
}

.loader::before {
  content: "";
  border: var(--loader-border-size) solid var(--loader-border-color);
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  animation: rotateX 0.5s infinite linear reverse;
}

@keyframes rotateX {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.direction {
  text-align: center;
  box-shadow: 00px 0px 10px rgb(209, 209, 209);
  margin-bottom: 20px;
}

.title_direccion {
  background-color: #811738;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.container_pay {
  background-color: rgba(0, 0, 0, 0.713);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  padding-top: 100px;
  overflow: auto;
}
.container_pay .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
}

.container_pay .input label {
  font-size: 14px;
}
.input {
  display: grid;
  gap: 5px;
  margin-top: 15px;
}

.container_pay form {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  max-width: 450px;
  width: 95%;
  margin: auto;
}
